@import 'mixins.scss';
@import 'variables.scss';


.catalog-main__title {
  @include reset;
  font-size: 27px;
  line-height: 30px;
  color:$bold;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 30px;
  background-color:$bg-footer;
}

.catalog__list {
  @include reset;
  list-style: none;
}

.products__item {
  display: flex;
  flex-direction: column;
}

.products__title {
  @include reset
  font-size: 17px;
  line-height: 24px;
  color:$bold;
  font-weight: bold;
  margin-bottom: 10px;
}

.products__subtitle {
  @include reset;
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 15px;
}

.products__price {
  @include reset;
  font-size: 15px;
  color:$bold;
  font-weight: bold;
  padding-top: 25px;
  box-shadow: 0 -1px 0 0 $gray-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__item-container {
  border: 1px solid $gray-shadow;
  border-top-width: 0;
  padding: 25px;
  margin-bottom: 30px;
}

.product__image {
  @include reset;
  background-color: $bg-footer;
  width: 260px;
  height: 195px;
}

.products__cart {
  border: none;
  background-color: inherit;
  padding: 0;
  width: 20px;
  height: 19px;
  box-shadow: none;
  opacity: 0.2;
  .fill-cart {
    fill:#231F20;
  }
}

.process__image {
  @include reset;
  background-color: $bg-footer;
  width: 260px;
  height: 150px;
  order: 1;
}

.process-container {
  display: flex;
  flex-direction: column;
}

.making__container {
  border: 1px solid $gray-shadow;
  padding: 25px;
  padding-right: 34px;
  padding-left: 34px;
  order: 2;
}

.making__title {
  margin: 0;
  border: 1px solid $gray-shadow;
  padding: 25px;
  padding-right: 0;
  padding-left: 34px;
  font-size: 17px;
  line-height: 24px;
  color:$bold;
  font-weight: bold;
}

.making__description {
  font-size: 13px;
  @include reset;
  margin-bottom: 30px;
}

.making__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 16px;
}

@media (min-width:$tablet-width) {

}
