
body {
  background: url(../images/mobile/mishka-index-mobile1.jpg) no-repeat 50% 0;
}

@media (min-width:$tablet-width) {
  body {
    background: url(../images/tablet/mishka-index-tablet.jpg) no-repeat 50% 0;
  }
}

@media (min-width:$desktop-width) {
  body {
    background: url(../images/desktop/mishka-index-desktop.jpg) no-repeat 50% 0;
  }
}

// .container {
//   outline: 1px solid red;
// }
