@import 'page-header.scss';
@import 'mixins.scss';
@import 'outline.scss';
@import 'variables.scss';
@import 'normalize.scss';

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url(../fonts/opensansregular.woff) format("woff"),
        url(../fonts/opensansregular.eot) format("eot"),
        url(../fonts/opensansbold.woff) format("woff"),
        url(../fonts/opensansbold.eot) format("eot");
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  &::after{
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
}

body {
    @include reset;
    font-family: 'Open Sans' ,'Arial', sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    a {
        text-decoration: none;
    }
}

img {
  max-width: 100%;
  height: auto;
}

// .container {
//   width: auto;
//   padding: 0 40px;
// }

@media (min-width:$tablet-width) {
  .container {
    width: auto;
    padding: 0 50px;
  }
}

@media (min-width:$desktop-width) {
  .container {
    width: 1250px;
    padding: 0 100px;
    margin: 0 auto;
  }
}
