// page-colors
$gray-shadow:#ececec;
$catalog-shadow:rgba(0,0,0,0.1);
$bold: #000000;
$int:#63d1bb;
$toy:#56c3b2;
$int-fill:#149080;
$bg-color:#fafafa;
$mark-color:#63d1bb;
$mail-border:#62d1ba;
$bg-footer:#f1f1f1;
$footer-shadow:#e5e5e5;
$price-color:#444444;

// media width
$tablet-width:768px;
$desktop-width:1200px;


// Hover-effects
$footer-hover:#46c1ae;
