$gray-shadow:#ececec;
$bold: #000000;
$int:#63d1bb;
$toy:#56c3b2;
$int-fill:#149080;
$bg-color:#fafafa;
$mark-color:#63d1bb;
$mail-border:#62d1ba;
$price-color:#444444;
$tablet-width:768px;
$desktop-width:1200px;
