@import 'variables.scss';
@import 'mixins.scss';

.button {
  width: 260px;
  min-height: 50px;
  border: 2px solid $price-color;
  background-color: #ffffff;
  text-transform: uppercase;
  color:$price-color;
  font-weight: bold;
  cursor:pointer;
  font-size: 17px;
  line-height: 20px;
  transition: background-color 0.3s,
              color 0.1s;
  &:hover {
    background-color: $price-color;
    color:#ffffff;
  }
  &:active {
    background-color: $price-color;
    color:rgba(255,255,255,0.3);
  }
}
