@import 'mixins.scss';
@import 'variables.scss';


.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50vh;
  right: 50vw;
  transform: translate(50%,-50%);
  background-color: #ffffff;
  &::after {
    content:'';
    position: absolute;
    top: -100%;
    right: -100%;
    background-color:rgba(255,255,255,0.9);
    width: 200vw;
    height: 200vh;
    z-index: -1;
  }
}

.container--modal {
  border-top:1px solid #c6c6c6;
  box-shadow:0 5px 10px 0 rgba(0,0,0,0.25);
}

.modal__title {
  @include reset;
  font-size: 25px;
  line-height: 30px;
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.modal__subtitle {
  @include reset;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
  color:$price-color;
  font-weight: normal;
}

input[type="radio"]:checked + .modal__size__button {
  border-color:$mail-border;
}

.modal__size__button {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid $gray-shadow;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border-color:$price-color;
  }

  &:active {
    border-color:$mail-border;
  }
}


.modal__size-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal__button {
  line-height: 16px;
  color:#ffffff;
  background-color:$mark-color;
  border:none;
  margin-bottom: 45px;
}

@media (min-width:$tablet-width) {
  .modal {
    position: fixed;
    z-index: 10;
    width: 556px;
    height: 336px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    border: none;
    box-shadow: none;
    background-color: #ffffff;
    &::after {
      content:'';
      position: absolute;
      top: -100%;
      right: -150%;
      background-color:rgba(255,255,255,0.9);
      width: 200vw;
      height: 200vh;
      z-index: -1;
    }
  }

  .container--modal {
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.25);
    border:1px solid #c6c6c6;
  }

  .modal__title {
    @include reset;
    font-size: 30px;
    line-height: 57px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  .modal__subtitle {
    @include reset;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color:$price-color;
    font-weight: normal;
  }

  .modal__size__button {
    width: 110px;
  }


  .modal__size-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 350px;
    margin: 30px auto;
  }

  .modal__button {
    line-height: 16px;
    width: 350px;
    display: block;
    color:#ffffff;
    background-color:$mark-color;
    border:none;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
  }
}
