@import 'variables.scss';
@import 'mixins.scss';

.page-header {
  box-shadow:0 1px 0 0 $gray-shadow;
  position: relative;
  z-index: 2;
}

.page-header__logo {
  display: block;
  height: 79px;
  &-img-mobile {
    margin-left: 36%;
    margin-top: 22px;
  }
  &-img-tablet {
    display: none;
  }
  &-img-desktop {
    display: none;
  }
}

.main-nav__navigation,
.user-list {
  @include reset;
  list-style: none;
}

.site-navigation__item,
.user-list__item {
  padding-top: 27px;
  // padding-left: 76px;
  padding-left: 24%;
  padding-bottom: 28px;
  color:$bold;
  font-weight: bold;
  position: relative;
  box-shadow:
    inset 0 1px 0 0 $catalog-shadow,
    0 1px 0 0 $catalog-shadow;
  &--search::after {
    content: '';
    position: absolute;
    left: 10%;
    top: 41%;
    display: block;
    background-image: url(../images/mobile/search.svg);
    background-repeat: no-repeat;
    width:18px;
    height: 18px;
    opacity: 0.2;
  }
  &--cart::after {
    content: '';
    position: absolute;
    left: 10%;
    top: 41%;
    display: block;
    background-image: url(../images/mobile/cart.svg);
    background-repeat: no-repeat;
    width:18px;
    height: 18px;
    opacity: 0.2;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.submain-nav {
  display: none;
}

@media (min-width:$tablet-width) {

  .page-header {
    box-shadow: none;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      box-shadow:0 1px 0 0 $catalog-shadow;
      top: 88px;
      height: 1px;
    }
  }

  .page-header__logo {
    height: 89px;
    flex-basis: 320px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-shadow:none;
    &-img-mobile {
      display: none;
    }
    &-img-tablet {
      display: block;
    }
    &-img-desktop {
      display: none;
    }
  }

  .page-header__wrapper-one {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: relative;
  }


  .page-header__wrapper-one {
    flex-basis: 668px;
  }

  .main-nav {
    order:1;
    top: 107px;
    position: absolute;
  }

  .user-list {
    display: flex;
    flex-shrink: 0;
    flex-basis: 348px;
  }

  .user-list__item {
    &--search {
      padding: 0;
      font-size: 0;
      flex-basis: 84px;
      box-shadow:
        inset 1px 0 0 0 $gray-shadow;
      cursor: pointer;
    }
    &--search::after {
      left: 34px;
      top: 37px;
    }
    &--cart {
      min-height: 89px;
      padding: 0;
      padding-left: 81px;
      padding-top: 31px;
      box-shadow:
      inset 1px 0 0 0 $gray-shadow;
      &::after {
        background-image: url(../images/tablet/cart.svg);
        background-repeat: no-repeat;
        width:21px;
        height: 18px;
        left:32px;
        top: 35px;
      }
    }
  }

  .site-navigation {
    display: flex;
  }

  .site-navigation__item {
    font-size: 15px;
    padding: 0;
    box-shadow: 0 0 0 0;
    margin-right: 36px;
  }

  .page-header__wrapper-two {
    position: relative;
  }

  .submain-nav {
    @include reset;
    list-style:none;
    position: absolute;
    display: block;
    right: 0;
    top: 18px;
  }

  .submain-nav__item {
    span {
      font-size: 15px;
    }
    &--new,
    &--sale {
      display: none;
    }
  }
}

@media (min-width:$desktop-width) {
  .page-header__wrapper-one {
    flex-wrap:nowrap;
  }

  .page-header__logo {
    order:1;
    flex-basis: 249px;
    height: 89px;
    padding-top: 9px;
    padding-bottom: 7px;
    margin-left: 40px;
    box-shadow:none;
    &-img-mobile {
      display: none;
    }
    &-img-tablet {
      display: none;
    }
    &-img-desktop {
      display: block;
    }
  }

  .main-nav {
    order:0;
    margin-top: 0;
    position: static;
    min-height: 89px;
  }

  .site-navigation__item {
    min-height: 89px;
    font-size: 17px;
    padding: 0;
    padding-right: 36px;
    padding-top: 31px;
    padding-left: 35px;
    box-shadow: 0 0 0 0;
    margin-right: 0;
    box-shadow:
      inset 1px 0 0 0 $gray-shadow;
    &:first-child {
      box-shadow: none;
      padding-left: 0;
    }
  }

  .user-list {
    order:2;
  }

  .submain-nav {
    position: absolute;
    display: flex;
  }

  .submain-nav__item {
    font-size: 15px;
    a {
      color:inherit;
    }
    &--new,
    &--sale {
      display: block;
      margin-right: 61px;
      font-weight: bold;
    }
    &--delivery {
      margin-left: 444px;
    }
  }
}
